log_summary.log
uncaughtExceptions.log
package-lock.json
node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
web3module/artifacts/build-info
web3module/artifacts/@openzeppelin
